@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(bg.jpg);
  font-family: "Baloo Bhai 2", cursive;
}
/* Cards CSS */
.container {
  margin-top: 3rem;
  background: linear-gradient(29deg, #00b9ff 0%, #faffff 100%);
  margin-left: 8rem;
  margin-right: 9rem;
  margin-bottom: 5rem;
  border-radius: 6px;
  padding: 3rem;
  display: grid;
  grid-template-areas:
    "card1 card1 card1 card1 card2 card5"
    "card3 card4 card4 card4 card4 card5";
}
.card {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0.5rem;
  border-radius: 6px;
}
.card1 {
  background-repeat: no-repeat;
  border-radius: 6px;
  background-color: plum;
  color: white;
  grid-area: card1;
}
.card2 {
  color: white;
  grid-area: card2;
  background: linear-gradient(183deg, #aaa0a0 0%, #faffff 100%);
}

.card3 {
  background-color: white;
  grid-area: card3;
  box-shadow: -10px 12px 27px -7px rgba(2, 2, 2, 0.39);
}

.card4 {
  background-color: rgb(26, 26, 29);
  color: white;
  grid-area: card4;
}
.card5 {
  background-color: white;
  grid-area: card5;
  box-shadow: 10px 9px 32px -7px rgba(0, 0, 0, 0.5);
}
footer {
  background-color: aliceblue;

  padding: 2rem;
}
/* Items CSS */
.attribution {
  font-size: large;
  font-weight: 400;
}
img {
  border-radius: 50%;
}
.profile-display {
  font-size: large;
  font-weight: 400;
  text-align: center;
}
.heading {
  font-size: large;
  font-weight: 600;
}
.quality {
  color: gray;
  font-size: smaller;
}
.para {
  font-size: 12px;
  color: grey;
  font-weight: 400;
  text-align: start;
}
.special-color {
  font-size: 12px;
  color: whitesmoke;
  font-weight: 400;
  text-align: start;
}
/* Media Queries */
@media screen and (max-width: 1024px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #272829;
    font-family: "Baloo Bhai 2", cursive;
  }
  .container {
    margin-top: 3rem;
    background: linear-gradient(29deg, #54caca 0%, #faffff 100%);
    margin-left: 5rem;
    margin-right: 2rem;
    padding: 3rem;
    border-radius: 6px;
    display: grid;
    grid-template-areas:
      "card1 card1 card1 card1 card2 card5"
      "card3 card4 card4 card4 card4 card5";
  }
  footer {
    background-color: aliceblue;
    padding: 2rem;
    margin-top: 19rem;
  }
  .attribution {
    font-size: large;
    font-weight: 400;
  }
  @media (max-width: 768px) {
    body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background: rgb(27, 13, 83);
      font-family: "Baloo Bhai 2", cursive;
    }
    .container {
      margin-top: 1rem;
      background: rgb(27, 13, 83);
      width: 80%;
      max-width: 100%;
      margin-left: 1.3rem;
      margin-right: 1rem;
      padding: 1rem;
      border-radius: 6px;
      display: grid;
      grid-template-areas:
        "card1 card1 "
        "card2 card2 "
        "card3 card3"
        "card4 card4"
        "card5 card5";
    }
  }
}


